@{
    ViewBag.Title = "New";
}

<script>
    function validateForm() {
        console.log("validateForm called");
        var fname = document.getElementById("TeacherFname").value;
        var lname = document.getElementById("TeacherLname").value;
        var empNumber = document.getElementById("TeacherNumber").value;
        var salary = document.getElementById("TeacherSalary").value;
        var hireDate = document.getElementById("TeacherDate").value;

        if (fname === '' || lname === '' || empNumber === '' || salary === '' || hireDate === '') {
            alert("Please fill in all fields");
            return false; // Prevent form submission
        }

        return true; // Allow form submission
    }
</script>


<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
    </nav>
    <h2>New Teacher</h2>
    <form method="POST" action="/Teacher/Create" onsubmit="return validateForm()">
        <div class="inputrow">
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" />
        </div>
        <div class="inputrow">
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" />
        </div>
        <div class="inputrow">
            <label for="TeacherNumber">Employee Number:</label>
            <input type="text" id="TeacherNumber" name="TeacherNumber" />
        </div>
        <div class="inputrow">
            <label for="TeacherSalary">Salary:</label>
            <div>
                <input type="number" id="TeacherSalary" name="TeacherSalary" />
            </div>
        </div>
        <div class="inputrow">
            <label for="TeacherDate">Hire Date:</label>
            <div>
                <input type="date" id="TeacherDate" name="TeacherDate" />
            </div>
        </div>
        <div class="inputrow">
            <button type="submit">Add Teacher</button>
        </div>
    </form>
</div>
